<section id="top" class="section">
	<div id="target">
		<p>My name is [[name]] and my age is [[age]].</p>

	  	<div data-repeat="item in items">
	    	<div>[[$index]] - [[greet]] [[item.name]]!</div>
	  	</div>



	</div>
</section>