.icons {
	background: url(../img/icons.png);
	background-repeat: no-repeat;
	display:block;
}
.icons.views {
	background-position: -3px -75px;
	height: 19px;
	width: 24px;
}
.icons.star {
	background-position: -36px -73px;
	height: 23px;
	width: 24px;
}
.icons.play {
	background-position: -36px -48px;
	height: 24px;
	width: 24px;
}
.icons.views:hover {
	background-position: -3px -50px;
	height: 19px;
	width: 24px;
}
.icons.ico_menu {
	background-position: -213px -9px;
	height: 17px;
	width: 18px;
}
.icons.lupa {
	background-position: -183px -9px;
	height: 16px;
	width: 16px;
}
.icons.logo {
	background-position: -1px -1px;
	height: 32px;
	width: 168px;
}
